Django==5.1.5
djangorestframework==3.16.0
django-cors-headers==4.9.0
django-widget-tweaks==1.4.8
psycopg==3.1.18
dj-database-url==2.2.0
gunicorn==23.0.0
whitenoise==6.9.0
python-dotenv==1.2.1
sqlparse==0.5.3
tzdata==2025.1
sendgrid==6.11.0
python-http-client==3.3.7



