{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="form-container">
    <p class="title">Reset Password</p>

    <form class="form" method="post" onsubmit="return showLoader(this)">
        {% csrf_token %}
        <div class="input-group">
            <label for="email">Enter Registered Email</label>
            <input type="email" name="email" placeholder="Type your email" required>
        </div>

        <!-- <button type="submit" class="sign">Send OTP</button> -->
         <button type="submit" class="sign" id="submitBtn">
    <span class="btn-text">Send OTP</span>
    <div class="loading" style="display: none;">
        <span></span><span></span><span></span><span></span><span></span>
    </div>
</button>

        <div class="error-box">
            {% if messages %}
                {% for message in messages %}
                <p class="error-text">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </form>

</div>

<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
