{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>

<div class="form-container">
    <p class="title">Set New Password</p>

    <form class="form" method="post" onsubmit="return showLoader(this)">
        {% csrf_token %}

          <p class="signup" style="margin-bottom: 12px;">
        Reset password for <strong>{{ email }}</strong>
    </p>
    
        <div class="input-group">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" placeholder="Enter new password" required>
        </div>

        <div class="input-group">
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm new password" required>
        </div>

        <button type="submit" class="sign" id="submitBtn">
            <span class="btn-text">Update Password</span>
            <div class="loading" style="display: none;">
                <span></span><span></span><span></span><span></span><span></span>
            </div>
        </button>

        <div class="error-box">
            {% if messages %}
                {% for message in messages %}
                    <p class="error-text">{{ message }}</p>
                {% endfor %}
            {% endif %}
        </div>
    </form>

</div>

<script src="{% static 'js/login.js' %}"></script>
</body>
</html>
